<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game-It</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body class="bg-dark">
  <div class="container">
    <header class="border-bottom">
      <nav class="navbar">
        <h1>
          <a class="text-primary" href="/">Game-It</a>
        </h1>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <span id="logout" class="btn btn-primary">logout</span>
        {{else}}
        <a class="btn btn-primary" href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>