<div class="d-flex justify-content-around">
  <form class="login-form">
    <div class="text-light">
      <label for="email-login">email:</label>
      <input type="text" id="email-login" />
    </div>
    <div class="text-light">
      <label for="password-login">password:</label>
      <input type="password" id="password-login" />
    </div>
    <div class="">
      <button type="submit" class="btn btn-primary">login</button>
    </div>
  </form>

  <form class="signup-form mb-5">
    <div class="text-light">
      <label for="username-signup">username:</label>
      <input type="text" id="username-signup" />
    </div>
    <div class="text-light">
      <label for="email-signup">email:</label>
      <input type="text" id="email-signup" />
    </div>
    <div class="text-light">
      <label for="password-signup">password:</label>
      <input type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit" class="btn btn-primary">signup</button>
    </div>
  </form>
</div>

<div class="mt-5">
  <p class="text-light text-center">Welcome to Game-it! To join our community of amazing gamers please sign-up or login above. 
    Once you are logged in you will gain access to chat rooms for some of the most popular games in the world!
    These chats are focused on conecting like minded people who enjoy games in all ways. You can find new friends to play with 
    or post cool new game updates or images and videos of your favorite clips. Add comments and likes to posts to connect with 
    other players in so many ways. Come on in!!!</p>
</div>


  <script src="/javascript/login.js"></script>