<div class="d-flex justify-content-around">
  <form class="mt-5 login-form">
    <div class="text-light form-group">
      <label for="email-login">Email</label>
      <input type="text" class="email-login form-control" />
    </div>
    <div class="text-light form-group">
      <label for="password-login">Password</label>
      <input type="password" class="password-login form-control" />
    </div>
    <div>
      <button type="submit" class="btn btn-primary">login</button>
    </div>
  </form>

  <form class="mb-5 mt-5 signup-form">
    <div class="text-light form-group">
      <label for="username-signup">Username</label>
      <input type="text" class="new-username form-control" />
    </div>
    <div class="text-light form-group">
      <label for="email-signup">Email</label>
      <input type="text" class="new-email form-control" />
    </div>
    <div class="text-light form-group">
      <label for="password-signup">Password</label>
      <input type="password" class="new-password form-control" />
    </div>
    <div>
      <button type="submit" class="btn btn-primary">signup</button>
    </div>
  </form>
</div>

<div class="mt-5">
  <p class="text-light text-center">Welcome to Game-it! To join our community of amazing gamers please sign-up or login above. 
    Once you are logged in you will gain access to chat rooms for some of the most popular games in the world!
    These chats are focused on conecting like minded people who enjoy games in all ways. You can find new friends to play with 
    or post cool new game updates or images and videos of your favorite clips. Add comments and likes to posts to connect with 
    other players in so many ways. Come on in!!!</p>
</div>


  <script src="/javascript/login.js"></script>